body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top {
    background-color: rgba(167, 6, 6, 0.606);
    position: relative;
    padding-top: 300px;
    padding-bottom: 50px;
}

.middle {
    padding-top: 50px;
    background-color: #EEEEEE;

}

h1 {
    font-family: 'Ubuntu', cursive;
    color: #EEEEEE;
    font-size: 4.5em;
}

.toph2 {
    color: #EEEEEE;
    margin-bottom: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    color: #5ce4cd;
}

h3 {
    color: #5CB8E4;
}

.img1 {
    border-radius: 10px 20px 30px 40px/30px;
    width: 200px;
}

.img2 {
    width: 70%;
}

.img3 {
    width: 30%;
}

hr {
    border-top: 5px dashed rgba(167, 6, 6, 0.606);
  width: 75%;

}

.bottom {
    background-color: rgba(167, 6, 6, 0.606);
    padding: 15px;
}


.bottomhr {
    border: solid #696969 5px;
    width: 100%;
    margin-bottom: 0px;

}

.btn {
    border-radius: 12px;
    font-family: 'Unbounded', sans-serif;
    font-size: 18px;
    padding: 5px 20px 10px 20px;
    border: solid rgba(167, 6, 6, 0.606) 2px;
}

.h1Contact {
    color: #5ce4cd;
}

.row {
    width: 50%;
    margin: 50px auto 50px auto;
}

.column {
    display: inline-block;

}

.left {
    float: left;
    width: 35%;
}

.right {
    width: 65%;
    text-align: left;
}

ul {
    list-style-type: none;
    text-align: left;
}

dt {
    display: inline-block;
    text-align: left;
    width: 40%;
}

dd {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.btnh3 {
    margin-bottom: 50px;
}

a:link {
    text-decoration: none;
    color: #1247e8;
}

a:visited {
    color: rgba(167, 6, 6, 0.606);
}

a:hover {
    color: #5CB8E4;
}

.img5 {
    width: 30%;
    position: absolute;
    top: 30px;
    left: 200px;
}

.img4 {
    width: 20%;
    position: absolute;
    top: 30px;
    right: 200px;
}